description = "Default layout"

[staticMenu]
code = "main-menu"

[seoTags]
==
<!DOCTYPE html>
<html>
    <head>
        {% component 'seoTags' %}
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
        {% styles %}
    </head>
    <body>
        
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container-fluid">
                <div class="row">
                    {% page %}
                </div>
            </div>

{#            {{dump(staticMenu)}}#}
{#            {{dump(staticMenu.menuItems)}}#}
{#            вивід категорій#}
{#            {% for item in staticMenu.menuItems %}#}
{#               <li><a href="{{ item.url }}">{{ item.title }}</a></li>#}
{#            {% endfor %}#}


        </section>

        <!-- Scripts -->
<!--        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>-->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>