description = "Default layout"

[staticMenu]
code = "main-menu"

[seoTags]
==
<!DOCTYPE html>
<html>
    <head>
        {% component 'seoTags' %}
        <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/focuspoint.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/helper-tool.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/grid.css'|theme }}">
        
        {% styles %}
    </head>
    <body>        
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container-fluid">
                <div class="row">
                    {% page %}
                </div>
            </div>

{#            {{dump(staticMenu)}}#}
{#            {{dump(staticMenu.menuItems)}}#}
{#            вивід категорій#}
{#            {% for item in staticMenu.menuItems %}#}
{#               <li><a href="{{ item.url }}">{{ item.title }}</a></li>#}
{#            {% endfor %}#}


        </section>
</div>
        <!-- Scripts -->
<!--        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>-->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.focuspoint.helpertool.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.focuspoint.js'|theme }}"></script>
        <!-- <script src="{{ 'assets/javascript/main.js'|theme }}"></script> -->
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        
        <script>
            $(function(){
                
                $('body').on('submit', '._choose_offer_form', function (e) {

                    e.preventDefault();
                    //console.log($(this).data("id"))
                    var _this = $(e.currentTarget),
                        //offer_id = _this.data("id"),
                        offer_id = _this.find('#offer_id').val(),
                        quantity = _this.find('._quantity_field').val();  

                    if(!offer_id) {
                        return;
                    }

                    $.request('Cart::onAdd', {
                        data: {
                            'cart': [{'offer_id': offer_id, 'quantity': quantity}]
                        },
                        update: {'cart/cart-items': '._cart_info_wrapper'},                      
                    }).done(function() {
                        console.log("окк");
                    }).fail(function() {
                        console.log("error");
                    });
                });

                $('body').on('click', '._offer_remove_cart_button', function (e) {

                    e.preventDefault();
                    
                    var _this = $(e.currentTarget),
                        offer_id = $('.offerId').val();
                    
                    if(!offer_id) {
                        return;
                    }                    

                    $.request('Cart::onRemove', {
                        data: {
                            'cart': [offer_id]
                        },
                        update: {
                            'cart/cart-item-list': '._cart_item_list',
                            'cart/cart-items': '._cart_info_wrapper'                            
                        }
                    });
                });
                
                $('body').on('click', '._cart_item_up', function (e) {
                    
                    e.preventDefault();
                    
                    var _this = $(e.currentTarget),
                        offer_id = $('.offerId').val(),
                        quantity = $('._quantity_field').val();

                    if(!offer_id) {
                        return;
                    }

                    $.request('Cart::onUpdate', {
                        data: {
                            'cart': [{'offer_id': offer_id, 'quantity': quantity}]
                        },
                        update: {
                            'cart/cart-items': '._cart_info_wrapper',
                            'cart/cart-item-list': '._cart_item_list',
                            'cart/cart-total-price': '._cart_total_cost'
                        }
                    });
                });               

            });
        </script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>