description = "Default layout"

[staticMenu]
code = "main-menu"

[seoTags]
==
<!DOCTYPE html>
<html>
    <head>
        {% component 'seoTags' %}
        <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/focuspoint.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/helper-tool.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/grid.css'|theme }}">
        
        {% styles %}
    </head>
    <body>        
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container-fluid">
                <div class="row">
                    {% page %}
                </div>
            </div>

{#            {{dump(staticMenu)}}#}
{#            {{dump(staticMenu.menuItems)}}#}
{#            вивід категорій#}
{#            {% for item in staticMenu.menuItems %}#}
{#               <li><a href="{{ item.url }}">{{ item.title }}</a></li>#}
{#            {% endfor %}#}


        </section>
</div>
        <!-- Scripts -->
<!--        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>-->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.focuspoint.helpertool.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.focuspoint.js'|theme }}"></script>
        <!-- <script src="{{ 'assets/javascript/main.js'|theme }}"></script> -->
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        
        <script>
            $(function(){
                $('body').on('submit', '._choose_offer_form', function (e) {

                    e.preventDefault();
                    let elem = document.querySelector('[data-id]');

                    var _this = $(e.currentTarget),
                        offer_id = elem.getAttribute('data-id'),
                        quantity = _this.find('._quantity_field').val();

                    if(!offer_id) {
                        return;
                    }
                    console.log('offer_id: ' + offer_id);
                    console.log('quantity: ' + quantity);

                    $.request('Cart::onAdd', {
                        data: {
                            'cart': [{'offer_id': offer_id, 'quantity': quantity}]
                        },
                        update: {'cart/cart-items': '._cart_info_wrapper'},
                        complete: function (data) {

                            console.log(data.responseJSON)

                            $('._offer_buy_button').addClass('uk-hidden');
                            $('._offer_in_cart_button').removeClass('uk-hidden');
                        }
                    });
                    });
                // $('.add_cart_btn').on('click', function (e) {

                //     e.preventDefault();

                //     let elem = document.querySelector('[data-id]');
                //     var _this = $(e.currentTarget),
                //         offer_id = elem.getAttribute('data-id'),                    
                //         quantity = $('.getProd').find('._quantity_field').val();
                    
                //     if(!offer_id) {
                //         return;
                //     }
                //     console.log('offer_id: ' + offer_id);
                //     console.log('quantity: ' + quantity);

                //     $.request('Cart::onAdd', {
                //         data: {
                //             'cart': [{'offer_id': offer_id, 'quantity': quantity}]
                //         },
                //         update: {'cart/cart-items': '._cart_info_wrapper'},
                //         complete: function(data) {
                //             console.log(data.responseJSON)                            
                //             }
                //     });
                // });               

            });
        </script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>