[viewBag]

[localePicker]
forceUrl = 0
==
<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ 'home'|page }}">
            <h4>
                <b>{{ 'Home'|_ }}</b>
            </h4>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand" href="{{ 'selected-articles'|page }}">
                    {{ 'Selected articles'|_ }}
                </a>
                <a class="navbar-brand" href="{{ 'categories'|page }}">
                    {{ 'Category'|_ }}
                </a>
                <a class="navbar-brand" href="{{ 'tags'|page }}">
                    {{ 'Tags'|_ }}
                </a>
                <a class="navbar-brand" href="{{ 'contact'|page }}">
                    {{ 'Contact Us'|_ }}
                </a>                
                <!--<a class="navbar-brand" href="{{ 'test-polimorph'|page }}">
                    {{ 'Test Partial'|_ }}
                </a>-->
                <!-- <a class="navbar-brand" href="{{ 'test-quiz'|page }}">
                    {{ 'Test Quiz'|_ }}
                </a> -->
               <!-- <a class="navbar-brand" href="{{ 'test-form'|page }}">
                    {{ 'Test Form'|_ }}
                </a>-->
                <!-- <a class="navbar-brand" href="{{ 'test-image'|page }}">
                    {{ 'Test Image'|_ }}
                </a> -->
                <!-- <a class="navbar-brand" href="{{ 'cart'|page }}">
                    {{ 'Cart'|_ }}
                </a> -->
                <div class="_cart_info_wrapper">
                    <!-- <div class="uk-margin-small-right uk-animation-shake _cart_info" data-offer-list="" style="color: aliceblue;">
                        <a class="navbar-brand uk-icon-button uk-icon" href="{{ 'cart'|page }}" uk-icon="icon: cart; ratio: 1.5"><svg width="30" height="30" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1.5"> <circle cx="7.3" cy="17.3" r="1.4"></circle> <circle cx="13.3" cy="17.3" r="1.4"></circle> <polyline fill="none" stroke="#000" points="0 2 3.2 4 5.3 12.5 16 12.5 18 6.5 8 6.5"></polyline></svg></a>
                        <span>Goods: <strong>0</strong>,
                            Total cost: <strong>0.00</strong>
                        </span>
                    </div>             -->
                </div>
                
            </ul>

            <ul class="navbar-nav mr-auto">
                {% if not user %}
                    <a class="navbar-brand" href="{{ 'login'|page }}">
                        {{ 'Login'|_ }}
                    </a>
                    <a class="navbar-brand" href="{{ 'register'|page }}">
                        {{ 'Register'|_ }}
                    </a>
                {% endif %}
                {% if user %}
                    <a class="navbar-brand" href="{{ 'my-profile'|page }}">
                        {{ 'My profile'|_ }}
                    </a>
                    <a data-request="onLogout" class="navbar-brand" data-request-data="redirect: '/'" style="cursor: pointer">
                        Sign out
                    </a>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right">
                {% component 'localePicker' %}                
            </form>
        </div>
    </div>
</nav>